/* Write your CSS here */
.app-con {
  display: flex;
  align-items: center;

  justify-content: center;
}

.search-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 1130px;
}
.head {
  text-align: center;
  font-family: 'Roboto';
}
.search-input-con {
  display: flex;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
  padding-right: 16px;
  margin-left: 15px;
  background-color: #f1f5f9;
  border-radius: 8px;
}
.search-input {
  color: #0f172a;
  background-color: #f1f5f9;
  border: none;
  outline: none;
  font-weight: 500;
}
.search-icon {
  height: 20px;
  width: 20px;
}
.destination-list {
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
  padding: 0px;
  margin-top: 48px;
}
@media screen and (min-width: 768px) {
  .destination-list {
    justify-content: start;
  }
}
